.top-fold
  .row
    .wrapper
      .large-6.columns
        %h2 Drive Smarter.
        %form.custom
          %input{type: 'text', placeholder: 'Your Name'}
          %input{type: 'text', placeholder: 'Email'}
          %input{type: 'text', placeholder: 'Password'}
      .large-6.columns
        %h2
          Dash connects your car to your phone enabling smarter everyday driving. We help you make the roads safer, more affordable and much more social. Sign up to learn more!
      

/ .press
/   .row
/     .wrapper
/       .large-3.columns
/         %a{href: "http://www.gizmodo.fr/2013/06/28/dash-fitbit-automobile.html"}
/           %img.press-icon = {src: "img/gizmodo-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://pandodaily.com/2013/06/21/behold-the-automotive-graph-techstars-ny-company-dash-is-a-fitbit-for-your-car/", target: "_blank"}
/           %img.press-icon{src: "img/pandodaily-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://mashable.com/2013/06/25/dash-labs/", target: "_blank"}
/           %img.press-icon{src: "img/mashable-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://www.whitehouse.gov/blog/2013/04/11/doe-vehicle-data-challenge-fuels-innovation", target: "_blank"}
/           %img.press-icon{src: "img/whitehouse-logo.jpg"}/
/   .row
/     .wrapper
/       .large-3.columns
/         %a{href: "http://www.forbes.com/sites/alanmcglade/2012/11/04/tracking-innovation-through-boxcars-boxing-bears-and-automobiles/", target: "_blank"}
/           %img.press-icon{src: "img/forbes-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://bit.ly/Zr2BiL", target: "_blank"}
/           %img.press-icon{src: "img/alleywatch-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://huff.to/10zurPS", target: "_blank"}
/           %img.press-icon{src: "img/huffpost-logo.jpg"}/
/       .large-3.columns
/         %a{href: "http://betabeat.com/2013/06/11-startups-court-capital-at-techstars-demo-day/"}
/           %img.press-icon{src: "img/betabeat-logo.jpg"}/
